<!-- 
    Admin Panel Features:
    Reviewing Claims
    Approving Daemons
    Budget Page
    Scheduled Maintenance
 -->
 <h1>Admin Panel</h1>
 <input id="chief_passage_id"type="hidden" value="root"name="">
