<div id="file-menu">
    <ul>
        <li>Download Current Chapter</li>
    </ul>
</div>
<div id="edit-menu">
    <ul>
        <li>Change Editor</li>
        <li>Change Mode</li>
    </ul>
</div>
<!-- Make div for each menu  -->