<div class="bookmark">
    <div><span class="view_bookmark"id="view_bookmark_<%=bookmark._id%>">View</span> | 
    <span class="transfer_bookmark"id="transfer_bookmark_<%=bookmark._id%>">Copy to Tab</span> | 
    <%if(bookmark.author.toString() == user._id.toString()){%>
    <span class="move_bookmark"id="move_bookmark_<%=bookmark._id%>">Move to Tab</span> | 
    <%}%>
    <span class="remove_bookmark">Remove</span>
    </div>
    <h3><%=bookmark.title%></h3>
  </div>