<form id="create-team-form"class="passage_form"action="/teams/create-team" type="post">
    <br><br><br>
    Title: <input id="create-team-name"type="text" name="name" autocomplete="off" required/><br><br>
    Description: <br><br>
    <textarea id="create-team-description"name="description" autocomplete="off"></textarea><br><br>
    <!--Open to the Public: <input id="create-team-open"name="open"type="checkbox" autocomplete="off"/><br><br>-->
    Members: <br><br>
    <textarea id="create-team-usernames"name="usernames" autocomplete="off" placeholder="Put a username on each line."></textarea><br><br>
    <button id="post-passage"style="margin:auto;text-align:center;font-size:1.3em;">Create</button>
</form>
