<%- include('html_head') %>
</head>
<%- include('header') %>
    <br><br><br><br><br><br>
    <div style="margin:auto;text-align:center;">
        <h1>Donate</h1>
        <h2><a target="_blank"href="https://buy.stripe.com/eVabLl8QJ5Wb11KaEE">Custom Amount</a></h2>
        <h2><a target="_blank"href="https://buy.stripe.com/fZe9Dd7MFfwL11K5kl">Subscribe</a></h2>
        <br><br>
        <h2>Monthly Budget Info:</h2>
        <h5>Current Funds: $<%=usd%></h5>
        <h4>Pending Expenses (with padding):</h4>
        <h5>Dedicated Bank Account: $200</h5>
        <h5>Server Costs this Month: $100 (Subject to change)</h5>
        <h5>Savings: $100</h5>
        <br><br>
        <h1>Surplus funds are distributed to Users based on contributions.</h1>
    </div>
<%- include('footer') %>
