
        <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
        <div title="Scroll down"id="scroll-to-bottom"><ion-icon title="Scroll Down"src="/images/ionicons/chevron-down-outline.svg"></ion-icon></div>
        <div id="footer">
            <br>
            <div style="color:black;margin-bottom:10px;">Infinity-Forum</div>
            <!-- <div style="color:black;font-style:italic;">Powered by Infinity-Forum</div> -->
            <br>    
        </div>
        <!-- <script>codeInput.registerTemplate("code-input", codeInput.templates.prism(Prism));</script> -->
        <script>
            // codeInput.registerTemplate("code-input", codeInput.templates.prism(Prism));
            // codeInput.registerTemplate("syntax-highlighted", 
            // codeInput.templates.hljs(
            //     hljs, 
            //     [
            //         new codeInput.plugins.Autodetect(), 
            //         new codeInput.plugins.Indent()
            //     ]
            //     )
            // );
        
        </script>
        <%DAEMONS.forEach(function(daemon){%>
            <%if(daemon.lang == 'daemonFrame'){%>
                <iframe class="iframe" src="/eval/<%=daemon._id%>" frameborder="0" sandbox="allow-scripts allow-same-origin"></iframe>
            <%}%>
        <%});%>
        
    </body>
</html>
