        <%- include('ppe') %>
        <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
        <div title="Scroll down"id="scroll-to-bottom"><ion-icon title="Scroll Down"src="/images/ionicons/chevron-down-outline.svg"></ion-icon></div>
        <div id="footer">
            <br>
            <div style="color:white;margin-bottom:10px;">Infinity Forum</div>
            <div style="font-size:0.7em;font-weight:lighter;"><a style="text-decoration: none;color:lightgrey;"target="__blank"href="https://github.com/Infinity-Forum-Org/Infinity-Forum">Github</a></div>
            <!-- <div style="color:black;font-style:italic;">Powered by Infinity-Forum</div> -->
            <br>    
        </div>
        <!-- <script>codeInput.registerTemplate("code-input", codeInput.templates.prism(Prism));</script> -->
        <script>
            // codeInput.registerTemplate("code-input", codeInput.templates.prism(Prism));
            // codeInput.registerTemplate("syntax-highlighted", 
            // codeInput.templates.hljs(
            //     hljs, 
            //     [
            //         new codeInput.plugins.Autodetect(), 
            //         new codeInput.plugins.Indent()
            //     ]
            //     )
            // );
        
        </script>
        <%DAEMONS.forEach(function(daemon){%>
            <%if(daemon.lang == 'daemonFrame'){%>
                <iframe class="iframe" src="/eval/<%=daemon._id%>" frameborder="0" sandbox="allow-scripts allow-same-origin"></iframe>
            <%}%>
        <%});%>
        
        <!-- View tracking scripts -->
        <script src="/js/viewTracking.js"></script>
        
        <!-- YouTube IFrame API for tracking -->
        <script>
        // Load YouTube IFrame API if there are YouTube embeds
        if (document.querySelector('iframe[data-youtube-id]')) {
            var tag = document.createElement('script');
            tag.src = "https://www.youtube.com/iframe_api";
            var firstScriptTag = document.getElementsByTagName('script')[0];
            firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);
            
            // When API is ready, initialize tracking
            window.onYouTubeIframeAPIReady = function() {
                document.querySelectorAll('iframe[data-youtube-id]').forEach(function(iframe) {
                    var player = new YT.Player(iframe.id, {
                        events: {
                            'onReady': function(event) {
                                var passageId = iframe.getAttribute('data-passage-id');
                                var youtubeId = iframe.getAttribute('data-youtube-id');
                                ViewTracker.trackYouTubePlayer(event.target, passageId, youtubeId);
                            }
                        }
                    });
                });
            };
        }
        </script>
        
    </body>
</html>
