    <body>
        <%-include('sidebar')%>
        <div id="mobile_modal" class="modal">
            <%-scripts.printAddForm()%>
            <div class="header">
                Table of Contents
            </div>
            <div id="mobile_category_list">
                
            </div>
            <div id="chapter_load_mobile"class="load_more category link">Load More</div>
        </div>
        <div id="control_panel">
            <div id="control_nav">
                    <div id="main_header">
                        <a href="/" class="basic_link">
                          <!-- <div id="perm_chapter">Christian Engineering Solutions</div> -->
                        </a>
                        <div id="options">
                            <ion-icon id="home_link"title="Start"src="/images/ionicons/home-outline.svg"></ion-icon></a>
                            <ion-icon class="help_read_more"id=""title="Help"src="/images/ionicons/help-circle-outline.svg"></ion-icon></a>
                            <!-- <ion-icon class="passage_adder book_option"title="Add (a)"src="/images/ionicons/add-circle-outline.svg"></ion-icon> -->
                             <ion-icon class="book_option"id="bookmarks_icon"title="Bookmarks"src="/images/ionicons/bookmarks-outline.svg"></ion-icon>
                             <ion-icon class="toggle_tools book_option"title="Tools (t)"src="/images/ionicons/build-outline.svg"></ion-icon>
                             <!-- <ion-icon class="toggle_resize book_option"title="Resize (r)"src="/images/ionicons/albums-outline.svg"></ion-icon> -->
                             <!-- PPE Options -->
                             <ion-icon data-select="off"id="ppe_select"class="ppe_option"title="Select (q)"src="/images/ionicons/scan-outline.svg"></ion-icon>
                             <ion-icon id="ppe_mutate"class="ppe_option"title="Mutate (m)"src="/images/ionicons/color-palette-outline.svg"></ion-icon>
                             <ion-icon id="ppe_erase"class="ppe_option"title="Erase (e)"src="/images/ionicons/square-outline.svg"></ion-icon>
                             <ion-icon id="ppe_search_icon"class="ppe_option"title="Search (SPC)"src="/images/ionicons/search-outline.svg"></ion-icon>
                             <ion-icon class=""title="Leader Board"src="/images/ionicons/stats-chart-outline.svg"></ion-icon>
                             <ion-icon id="nav_donate"class=""title="Donate"src="/images/ionicons/cash-outline.svg"></ion-icon>
                             <% if(user != null){ %>
                                <ion-icon class="notifications_icon"title="Notifications"src="/images/ionicons/notifications-outline.svg"></ion-icon>
                                <ion-icon class="messages_icon"title="Messages"src="/images/ionicons/mail-outline.svg"></ion-icon>
                                <ion-icon id="profile_link"title="Profile"src="/images/ionicons/person-circle-outline.svg"></ion-icon>
                                <ion-icon id="logout"class=""title="Log Out"src="/images/ionicons/log-out-outline.svg"></ion-icon>
                                <input id="logged_in"value="true"type="hidden" name="">
                            <%} else{ %>
                                <ion-icon id="login_register_link"class=""title="Login/Register"src="/images/ionicons/log-in-outline.svg"></ion-icon>
                                <!-- <a class="link">Download</a>&emsp;&emsp; -->
                                <input id="logged_in"value="false"type="hidden" name="">
                            <%} %>
                             <!-- <ion-icon class="graphic_mode"title="Graphic Mode (g)"src="/images/ionicons/brush-outline.svg"></ion-icon>
                             <ion-icon class="model_mode"title="Model Mode"src="/images/ionicons/prism-outline.svg"></ion-icon> -->
                        </div>
                    </div>
                    <div id="tab_panel">
                        <ul id="tab_list">
                            <li id="new_tab" class="tab">+</li>
                        </ul>
                        <br><br><br>
                    </div>
                    <br><br><br>
            </div>
            <br>
            <br>