<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Christian Engineering Solutions</title>
        <link rel="stylesheet" href="/css/main.css">
        <link rel="stylesheet" href="/css/book.css">
        <link rel="stylesheet" href="/css/passage.css">
        <link rel="stylesheet" href="/css/mobile.css">
        <link rel="shortcut icon" type="image/x-icon" href="/images/bitmap.png" />
        <script src="/jquery.min.js"></script>
        <script src="/jquery-ui.min.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="/jquery.modal.min.js"></script>
        <link rel="stylesheet" href="/jquery.modal.min.css" />
        <link rel="stylesheet" href="/jquery-ui.css">
        <script type="module" src="/ionicons.esm.js"></script>
        <script nomodule="" src="/ionicons.js"></script>
        <link rel="stylesheet" href="/highlight/default.css">
        <script src="/js/highlight.js"></script>
        <script src="/tone.js"></script>
        <link rel="stylesheet" type="text/css" href="/css/ppe.css">
        <link rel="stylesheet" type="text/css" href="/css/users.css">
        <link rel="stylesheet" href="/codemirror.css">
        <link rel="stylesheet" type="text/css" href="/css/fonts.css">
        <script src="/codemirror.js"></script>
        <script type="text/javascript" src="/mode/javascript/javascript.js"></script>
        <script src="/sigma.js"></script>
        <script src="/sigma.parsers.json.js"></script>
        <link rel="stylesheet" type="text/css" href="/css/header.css">
        <link rel="stylesheet" type="text/css" href="/css/sidebar.css">
        <link rel="stylesheet" type="text/css" href="/css/footer.css">