<!DOCTYPE html>
<html lang="en">
    <head>
        <%if(LOCAL == 'false'){%>
            <!-- Google tag (gtag.js) -->
            <script async src="https://www.googletagmanager.com/gtag/js?id=G-G804TWSWNE"></script>
            <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'G-G804TWSWNE');
            </script>
        <%}%>
    <%if(user == null){%>
        <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <%}%>

        <meta charset="UTF-8">
        <meta name=”robots” content=”noai, noimageai”>
        <!-- Force Desktop View -->
        <!-- <meta name="viewport" content="width=1024"> -->
        <title>Infinity Forum</title>
        <link href='https://fonts.googleapis.com/css?family=Oswald:300' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/styles/a11y-light.min.css">
        <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
        <link rel="stylesheet" href="/css/main.css">
        <link rel="stylesheet" href="/css/book.css">
        <link rel="stylesheet" href="/css/passage.css">
        <link rel="stylesheet" href="/css/login_register_form.css">
        <link rel="stylesheet" href="/css/profile.css">
        <!-- <link rel="stylesheet" href="/css/mobile.css"> -->
        <link rel="shortcut icon" type="image/x-icon" href="/images/small_logo.jpg" />
        <script src="/jquery.min.js"></script>
        <script src="/jquery-ui.min.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="/js/jquery.modal.js"></script>
        <link rel="stylesheet" href="/jquery.modal.min.css" />
        <link rel="stylesheet" href="/jquery-ui.css">
        <script type="module" src="/ionicons.esm.js"></script>
        <script nomodule="" src="/ionicons.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js"></script> 
        <link rel="stylesheet" type="text/css" href="/css/ppe.css">
        <link rel="stylesheet" type="text/css" href="/css/users.css">
        <link rel="stylesheet" type="text/css" href="/css/fonts.css">
        <link rel="stylesheet" type="text/css" href="/css/header.css">
        <link rel="stylesheet" type="text/css" href="/css/sidebar.css">
        <link rel="stylesheet" type="text/css" href="/css/footer.css">

        <script src="https://cdn.socket.io/4.6.0/socket.io.min.js" integrity="sha384-c79GN5VsunZvi+Q/WObgk2in0CbZsHnjEqvFxC5DxHn9lTfNce2WW6h2pH6u/kF+" crossorigin="anonymous"></script>

        <script src="https://unpkg.com/three@0.87.1/build/three.js"></script>
        <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/0.149.0/three.min.js" integrity="sha512-6p9lGA4Cm89KiwN1CixiOVQU2H9e13LeYoN6/Hj/qoUhtrMW5vNiqQz9Z96Z7/I8u89ghL6SPBz9na5HFVzF3g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script> -->
        <script src="https://unpkg.com/three@0.87.1/examples/js/loaders/GLTFLoader.js"></script>
        <!-- <script src="https://unpkg.com/three@0.87.1/examples/js/loaders/OBJLoader.js"></script> -->
        <!-- TEMP CDNs -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/highlight.min.js" integrity="sha512-bgHRAiTjGrzHzLyKOnpFvaEpGzJet3z4tZnXGjpsCcqOnAH6VGUx9frc5bcIhKTVLEiCO6vEhNAgx5jtLUYrfA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <!--Prism-->
        <link id="import-theme" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.23.0/themes/prism.css"/>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.23.0/components/prism-core.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.23.0/plugins/autoloader/prism-autoloader.min.js"></script>

        <!-- HLJS -->
        <link rel="stylesheet"
            href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/styles/default.min.css">
        <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/highlight.min.js"></script>

        <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/WebCoder49/code-input@1.1/code-input.css">
        <script src="/js/code-input.js"></script>
        <!-- <script src="https://cdn.jsdelivr.net/gh/WebCoder49/code-input@1.1/code-input.js"></script> -->
        <script src="https://cdn.jsdelivr.net/gh/WebCoder49/code-input@1.1/plugins/indent.js"></script>
        <script src="https://cdn.jsdelivr.net/gh/WebCoder49/code-input@1.1/plugins/autodetect.js"></script>
        <!-- <script type="module"> import nsfwjs from 'https://cdn.jsdelivr.net/npm/nsfwjs@4.2.1/+esm' </script> -->
        <script src=" https://cdn.jsdelivr.net/npm/nsfwjs@4.2.1/dist/browser/nsfwjs.min.js "></script>
        <script>
        codeInput.registerTemplate("code-input", codeInput.templates.prism(Prism, [new codeInput.plugins.Indent()]));
        // codeInput.registerTemplate("syntax-highlighted", 
        // codeInput.templates.hljs(
        //     hljs, 
        //     [
        //         new codeInput.plugins.Autodetect(), 
        //         new codeInput.plugins.Indent()
        //     ]
        //     )
        // );
        </script>
        <!-- <script src=" https://cdn.jsdelivr.net/npm/ace-builds@1.32.0/src-min-noconflict/ace.min.js "></script>
        <link href=" https://cdn.jsdelivr.net/npm/ace-builds@1.32.0/css/ace.min.css " rel="stylesheet"> -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.32.0/ace.js"></script>
        <script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
        <!-- /TEMP -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.4.1/jspdf.debug.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf-autotable/2.3.4/jspdf.plugin.autotable.min.js"></script>
        <!-- Must minify and consider moving to footer -->
        <!-- Include TensorFlow.js first -->
        <script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs@3.11.0/dist/tf.min.js"></script>
        <!-- Then include NSFW.js -->
        <script src="https://unpkg.com/nsfwjs@2.4.0/dist/nsfw.min.js"></script>
        <script src="/js/NSFWModel.js"></script>
        <script src="/js/ImageFilter.js"></script>
        <script src="/js/VideoFilter.js"></script>
        <script src="/js/nsfw.js"></script>
        <script src="/js/new.js"></script>
        <script src="/js/book.js"></script>
        <script src="/js/sidebar.js"></script>
        <script src="/js/header.js"></script>
        <script src="/js/passage.js"></script>
        <script src="/js/market.js"></script>
        <script src="/js/ppe.js"></script>
        <script src="/js/login_register_form.js"></script>
        <%-include('loading')%>
        <%-include('daemon_head')%>
