<%- include('html_head') %>
<link rel="stylesheet" type="text/css" href="/extra/slider/slide.css" />
<!-- <link rel="stylesheet" type="text/css" href="/infinity/css/start.css" /> -->
<script type="text/javascript" src="/extra/slider/jquery.nivo.slider.js"></script>
</head>
<div id="top">
        <span id="logo" onclick="window.location = '/';">&nbsp;</span><span id="extra"></span><span id="extra2"></span><!--
        --><span id="menu">
        <!-- <?php
            //absolute top links as list
            System::listLinks(PAGE);
        ?> -->
        </span>
        
        <div class="extra-btn1">
            <div class="extra_icon1"></div>
        </div>
        <div class="extra-btn2">
            <div class="extra_icon2"></div>
        </div>
        <?php
            <% if(user != null){ %>
                    <div class="member_bar">
                    <div id="member_bar_body">Welcome <b><a href="/user/"><%=user.username%></a></b>!
                    <div id="member_bar_links">
                    <a class='member_link'href="/lounge/">Lounge</a>&nbsp;
                    <a class='member_link'href="/forum/#">Forum</a>&nbsp;
                    <a class='member_link'href="/projects/#discover">Projects</a>&nbsp;
                    <a class='member_link'href="/lounge/groups">Groups</a>&nbsp;
                    </div> 
                    </div>
                    <div id="member_bar_icons">";
            <%}%>
        ?>
    </div>
    <div id="middle">
        <div id="wrapper" >
            <div class="slider-wrapper theme-default">
                <div id="slider" class="nivoSlider">
                    <img src="/extra/slider/26.jpg" title="A place where your ideas become reality."/>
                    <!-- <img src="/slider/3.jpg" title="A place where you can create."/> -->
                    <img src="/extra/slider/8.jpg" title="A place where you can learn."/>
                    <img src="/extra/slider/20.jpg" title="A place where you can collaborate with people from all over the world."/>
                    <!-- <img src="/slide/25.jpg" title="A place where you can be different."/> -->
                </div>
            </div>
        </div>
    </div>
    <div id="mid_bar" class="bar"style="padding:0px;">
        <ion-icon style="font-size:4em;color:black"src="/images/ionicons/play-circle.svg"></ion-icon>
        <a id="tour-link"style="color:#000"class="fa fa-play-circle fa-4x"></a>
    </div>
        
        <%- include('footer') %>
