<%- include('header') %>
            <%- include('ppe') %>
            <div id="control_blocks">
                <!-- <div class="modal" id="code"> -->
                    <!-- scripts.printAddForm(chapter) -->
                <!-- </div> -->
                <!-- <div id="property_select">
                        <%#scripts.printPropertySelect()%>
                    </div> -->
                <div  class="control_block" id="book_of_sasame">
                    <input type="hidden" id="add_position" value="top">
                    <br><br><br><br>
                   
                    <!-- Add upon scroll -->
                        <div>
                              <input style="font-size: 1.5em;"class="control_input"id="chapter_search_left"placeholder="" type="" name="" autocomplete="off">
                          </div>
                        <iframe src="/passages" sandbox="allow-scripts" class="tab_window">
                            <!-- Populate tab windows with appropriate passages using javascript -->
                            <!-- Display chapters in iframe here -->
                        </div>
                </div>
                <!-- <div class="modal" id="toc">
                    
                </div> -->
            </div>
    <br>
        </div>
        <input type="hidden"id="custom_pairs" name="">
        <%- include('footer') %>
