<div style="display:none;"id='label-select-div'>
    <select id="label-select">
        <option>All</option>
        <option>Projects</option>
        <option>Ideas</option>
        <option>Tasks</option>
        <option>Social</option>
        <option>Forum</option>
        <option>Questions</option>
        <option>Databases</option>
    </select>
</div>