<div style="display:none;"id='label-select-div'>
    <select id="label-select" autocomplete="off">
        <option>All</option>
        <%-scripts.labelSelectOptions(true, canCreateProducts)%>
    </select>
</div>