<div style="display:none;"id='label-select-div'>
    <select id="label-select" autocomplete="off">
        <option>All</option>
        <option value="Project">Projects</option>
        <option value="Idea">Ideas</option>
        <option value="Task">Tasks</option>
        <option value="Social">Social</option>
        <option value="Forum">Forum</option>
        <option value="Question">Questions</option>
        <option value="Comment">Comments</option>
        <option value="Database">Databases</option>
        <option value="Challenge">Challenges</option>
    </select>
</div>