<%- include('html_head') %>
</head>
<%- include('header') %>
<input id="chief_passage_id"type="hidden" value="root"name="">

<input type="hidden" value="leaderboard", id="is_profile"/>
<br><br><br><br><br>
<br>
<h1 style="text-align:center;">Leaderboard</h1>
<input id="search_leaderboard"placeholder="Search Leaders..." type="" name="" autocomplete="off">
<div id="leaders">
<%- include('leaders', {users: users}) %>
</div>
<div class="passage"id="view_more">View More</div>
<%- include('footer') %>
