<%- include('html_head') %>
</head>
<%- include('header') %>
<input type="hidden" value="leaderboard", id="is_profile"/>
<br><br><br><br><br>
<input id="search"placeholder="Search..." type="" name="" autocomplete="off">
<%users.forEach(function(user) { %>
    <%- include('leader', {user: user}) %>
<%});%>
<br>
<div class="passage"id="view_more">View More</div>
<%- include('footer') %>
