<%if(user == null){%>
<div class="member_box">
    <div class="inner_box1">
        <div id="box_top">
            <div id="box_title">Member Login</div>
            <div class="box_icon1"></div>
        </div>
        <div class="box_cont">
            <form action="/login/" method="post" id="login_frm">
                Username or Email:<br/>
                <input class="m-box-input" type="text" tabindex="1" name="username" required pattern=".{3,16}" placeholder="Enter your username" id="login_usr" maxlength="100" /><br/>
                Password:<br/>
                <input class="m-box-input" type="password" tabindex="2" name="password" required pattern=".{3,16}" placeholder="Enter your password" id="login_pwd" autocomplete="off" maxlength="100" /><br />
                <input class="m-box-input" type="hidden" name="token" value="<?php echo $token; ?>" />
            <input id="box-login"class="m-box-input" type="submit" tabindex="3" class="login_btn" value="Login"><br />
            <a id="rec-pwd-link"href="/recover"class="rec-pwd-link">Recover Password</a>
            <br /></form>
        </div>
    </div>
    <div class="inner_box2">
        <div id="box_top">
            <div id="box_title">Register</div>
            <div class="box_icon2"></div>
        </div>
        <div class="box_cont">
           <form action="/register/" method="post" id="reg_form">
               Name:<br/>
               <input class="m-box-input" type="text" name="username" id="reg_usr" maxlength="16" required placeholder="Enter a username"/><br/>
               Password:<br/>
               <input class="m-box-input" type="password" name="password" id="reg_pwd" autocomplete="off" required placeholder="Enter a password" title="The password be between 6 and 25 chars and must contain a capitalized and lower-case letter, and a number."/><br />
               Confirm Password:<br/>
               <input class="m-box-input" type="password" name="passwordConf" id="reg_pwd2" autocomplete="off" required placeholder="Confirm password"/><br />
               Email:<br/>
               <input class="m-box-input" type="email" name="email" id="reg_email" onblur="validate.checkDub(this)" autocomplete="off" required placeholder="Enter your email" title="Enter a valid email"/><br />
               <input class="m-box-input" type="checkbox" name="reg_terms" id="reg_term" value="yes" required /><label> Yes i accept the <a href="/terms" target="__blank"id="show_terms">Terms</a></label><br /><br />
               Code:<br />
               <div class="g-recaptcha" data-sitekey="6Ldgf0gpAAAAAFY_v7hYut-fjEyU6MUfsKZax6hj"></div>
               <br />
               <input class="m-box-input" type="hidden" name="reg_token" value="<?php echo $token; ?>" />
               <input class="m-box-input" type="submit" class="reg_btn" id="reg_sub" value="Register" onclick="validate.register();"/><br /><br />
           </form>
        </div>
    </div>
    <div class="inner_box3">
        <div id="box_top">
            <div id="box_title">Recover</div>
            <div class="box_icon3"></div>
        </div>
        <div class="box_cont">
           <form action="/recover" method="post" id="rec_form">
                Email:<br/>
               <input class="m-box-input" type="email" name="email" required id="rec_usr" maxlength="30" placeholder="Input email"/><br/>
               <input class="m-box-input" type="submit" value="Recover" class="rec_btn" />
           </form>
           <br /><br />
        </div>
    </div>

</div>
<script type="text/javascript">
    $(document).ready(function(e) {
        $(document).on('click', '#box-login', function(){
            $('#login_frm').submit();
        });
});


</script>
<%}%>