<div class="member_box">
    <div class="inner_box1">
        <div id="box_top">
            <div id="box_title">Member Login</div>
            <div class="box_icon1"></div>
        </div>
        <div class="box_cont">
            <form action="/infinity/libs/login.php" method="post" id="login_frm">
                Username:<br/>
                <input class="m-box-input" type="text" tabindex="1" name="usr" required pattern=".{3,16}" placeholder="Enter your username" id="login_usr" maxlength="20" /><br/>
                Password:<br/>
                <input class="m-box-input" type="password" tabindex="2" name="pwd" required pattern=".{3,16}" placeholder="Enter your password" id="login_pwd" autocomplete="off" maxlength="30" /><br />
                <input class="m-box-input" type="hidden" name="token" value="<?php echo $token; ?>" />
            <input class="m-box-input" type="submit" tabindex="3" class="login_btn" value="Login"><br /><br /></form>
        </div>
    </div>
    <div class="inner_box2">
        <div id="box_top">
            <div id="box_title">Register</div>
            <div class="box_icon2"></div>
        </div>
        <div class="box_cont">
           <form action="/member/register" method="post" id="reg_form">
               Username:<br/>
               <input class="m-box-input" type="text" name="reg_usr" id="reg_usr" maxlength="16" onblur="validate.checkDub(this)" required pattern="[a-zA-Z0-9_-]{3,16}" placeholder="Enter a username" title="Must be between 3 and 16 cahars, characters allowed are A-Z, a-z, 0-9, _- and ."/><br/>
               Password:<br/>
               <input class="m-box-input" type="password" name="reg_pwd" id="reg_pwd" autocomplete="off" maxlength="25" required pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?!.*\s).*$" placeholder="Enter a password" title="The password be between 6 and 25 chars and must contain a capitalized and lower-case letter, and a number."/><br />
               Confirm Password:<br/>
               <input class="m-box-input" type="password" name="reg_pwd2" id="reg_pwd2" autocomplete="off" maxlength="25" onblur="validate.register()" required pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?!.*\s).*$" placeholder="Confirm password"/><br />
               Email:<br/>
               <input class="m-box-input" type="email" name="reg_email" id="reg_email" onblur="validate.checkDub(this)" autocomplete="off" maxlength="50" required pattern="^\s*[\w\-\+_]+(\.[\w\-\+_]+)*\@[\w\-\+_]+\.[\w\-\+_]+(\.[\w\-\+_]+)*\s*$" placeholder="Enter your email" title="Enter a valid email"/><br />
               <input class="m-box-input" type="checkbox" name="reg_terms" id="reg_term" value="yes" required /><label> Yes i accept the <a href="#" id="show_terms">Terms</a></label><br /><br />
               Code:<br />
               <input class="m-box-input" type="text" name="reg_code" id="captcha" required pattern=".+" placeholder="Enter code shown above"><br />
               <input class="m-box-input" type="hidden" name="reg_token" value="<?php echo $token; ?>" />
               <input class="m-box-input" type="submit" class="reg_btn" id="reg_sub" value="Register" onclick="validate.register();"/><br /><br />
           </form>
        </div>
    </div>
    <div class="inner_box3">
        <div id="box_top">
            <div id="box_title">Recover</div>
            <div class="box_icon3"></div>
        </div>
        <div class="box_cont">
           <form action="/recover/" method="post" id="rec_form">
                Username or Email:<br/>
               <input class="m-box-input" type="text" name="rec_usr" required pattern=".{3,50}" id="rec_usr" maxlength="30" placeholder="Input class="m-box-input" username or email"/><br/>
               <input class="m-box-input" type="hidden" name="token" value="<?php echo $token; ?>" />
               <input class="m-box-input" type="submit" value="Recover" class="rec_btn" />
           </form>
           <br /><br />
        </div>
    </div>

</div>