<div id="left-side-panel">
    <div id="left-side-panel-inner">
      <div style="float:left;"id="side_panel_close">
        <ion-icon id="menu-close"src="/images/ionicons/menu-sharp.svg"></ion-icon>
      </div>
      <div id="side_panel_body">
        <ul id="menu-options">
            <li id="home-link"class="menu-option menu-link home-link">Home</li>
            <li id="stream-link"class="menu-option menu-link">Stream</li>
            <li id="forum-link"class="menu-option menu-link forum-link">Forum</li>
            <li id="projects-link"class="menu-option menu-link forum-link">Projects</li>
            <li id="tasks-link"class="menu-option menu-link forum-link">Tasks</li>
            <!--<li id="wall-link"class="menu-option menu-link forum-link">Wall</li>-->
            <%if(user != null){%>
                <li id="bookmarks_icon"class="menu-option">Bookmarks</li>
            <%}%>
            <%if(typeof passage == 'undefined' || passage.id !== 'root'){%>
                <li id="distraction_free"class="menu-option">Distraction Free Mode</li>
            <%}%>
            <li id="leaderboard_link"class="menu-option">Leaderboard</li>
            <li id="nav_donate"class="menu-option">Invest ($)</li>
            <% if(user != null){ %>
                <li id="profile_link"class="menu-option">Profile</li>
                <li id="messages"class="menu-option">Messages</li>
                <li id="logout"class="menu-option">Log Out</li>
                <li id="menu-advanced"class="menu-option">Advanced</li>
                <div style="display: none;"id="advanced-menu-options">
                    <li id="file-stream"class="menu-option">File Stream</li>
                    <li data-active="false"id="graphic_mode"class="menu-option">Graphic Mode</li>
                </div>
                <input id="logged_in"value="true"type="hidden" name="">
            <%} else{ %>
                <li id="login_register_link"class="menu-option">Login/Register</li>
                <input id="logged_in"value="false"type="hidden" name="">
            <%} %>
            <li id="menu-help"class="menu-option">Help</li>
            <li id="menu-contact"class="menu-option">Contact Us</li>
        </ul>
        <div id="tab_panel">
            <ul id="tab_list">
                <li id="new_tab" class="tab">+</li>
            </ul>
            <br><br><br>
        </div>
        <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
      </div>
    </div>
  </div>
