<%passages.forEach(function(passage) { %>
    <%- include('passage', {passage: passage, sub: true}) %>
<%});%>
<%if(passages.length == 0){%>
	<div style="margin:auto;text-align:center;">No Passages Yet.</div>
<%}%>
