<!-- 
Source variable: passage
 -->

 <div id="passage_<%=passage.id%>" class="passage">
    <ul class="passage_users">
        <!-- Profile Image layers -->
        <li class="passage_user"></li>
        <!-- ... -->
    </ul>
    <div class="passage_stars"></div>
    <ul class="passage_options">
        <!-- Shift passage location -->
        <li class="passage_option">Move</li>
        <!-- Copy and move passage -->
        <li class="passage_option">Copy</li>
        <li class="passage_option">Flag</li>
        <li class="passage_option">Comments</li>
        <li class="passage_option">Share</li>
        <li class="passage_option">Donate</li>
        <li class="passage_option">Delete</li>
    </ul>
    <ul class="passage_tabs">
        <li class="passage_tab_open_advanced">Advanced</li>
        <li class="passage_tab_advanced">HTML</li>
        <li class="passage_tab_advanced">CSS</li>
        <li class="passage_tab_advanced">JS</li>
        <!-- Display Result -->
        <li class="passage_tab">View</li>
        <li class="passage_tab">Sources</li>
        <li class="passage_tab">Alternates</li>
        <li class="passage_tab">Tags</li>
    </ul>
    <form action="">
        <input type="text"name="title"placeholder="Title">
        <textarea name="" id="" cols="30" rows="10"></textarea>
    </form>
 </div>