<!-- 
Source variable: passage
 -->

<form class="passage_form"action="">
    <div class="passage_advanced">
        <input class="passage_cross_origin"type="checkbox" name="" id=""> Cross Origin Allowed (Admin Advanced)
        <br>
        <textarea class="passage_html" name="" id="" cols="30" rows="10" placeholder="HTML"></textarea>
        <textarea class="passage_css" name="" id="" cols="30" rows="10" placeholder="CSS"></textarea>
        <textarea class="passage_js" name="" id="" cols="30" rows="10" placeholder="Javascript"></textarea>
    </div>
    <input class="passage_title" type="text"name="title"placeholder="Title">
    <ul class="description_options">
        <li class="description_option">Rich Text</li>
        <li class="description_option">Plain Text</li>
        <li class="description_option">Code</li>
        <li class="description_option">Markdown</li>
    </ul>
    <textarea class="passage_description" name="" id="" cols="30" rows="10" placeholder="Description"></textarea>
    <button class="passage_plus_description">+</button>
    <textarea class="passage_description" name="" id="" cols="30" rows="10" placeholder="Tags"></textarea>
    <input class="passage_file" type="file" multiple>
</form>