<!-- This is just the view for the ppe tool so we can pull it up anywhere
; consider jquery plugin -->
<div id="ppe">
    <canvas id="ppe_canvas"></canvas>
    <canvas id="ppe_cursor"></canvas>
    
    <div id="ppe_search_modal" class="modal">


    </div>
</div>