<div style="display:none;"id="sort-select-div">
    <select id="sort-select" autocomplete="off">
        <%if(typeof(mostRelevant) == 'undefined' || mostRelevant){%>
            <option>Most Relevant</option>
        <%}%>
        <option>Most Stars</option>
        <option>Highest Reward</option>
        <option>Most Cited</option>
        <option value="Newest-Oldest">Most Recent</option>
        <option value="Oldest-Newest">Oldest</option>
    </select>
</div>