<div style="display:none;"id="sort-select-div">
    <select id="sort-select" autocomplete="off">
        <option>Most Stars</option>
        <option>Most Cited</option>
        <option>Newest-Oldest</option>
        <option>Oldest-Newest</option>
    </select>
</div>