
<p>
    Christian Engineering Solutions (CES) is a Not For Profit Organization, formally a sole proprietorship, 
    acting as a not-for-profit while seeking tax exempt status in California.
</p>

<p>
    These terms are subject to change.
</p>

<p>
    CES utilizes a public algorithm in order to manage its budget and distribute rewards to users based on merit.
These algorithms are subject to change; CES is not responsible for compensating users for any donations or activity on the website christianengineeringsolutions.com.
</p>

<p>
    CES is also not responsible for any loss of data or information submitted to the site.
</p>
