<p>
    Infinity-Forum (IF) rewards users through the built-in reputation system. IF distributes all surplus revenue to its users based on contribution points to stimulate productivity on the website.
    You must be at least 13 years of age to use this site.
</p>

<p>These terms are subject to change.</p>

<p>
    IF utilizes an open-source algorithm in order to manage its budget and distribute rewards to users based on merit.
    These algorithms are subject to change; IF is not responsible for compensating users for any donations or activity on the website infinity-forum.org.
    IF is also not responsible for any lost work. IF reserves the right to remove or censor any content for any reason. Pornographic or illegal material is not allowed on the site. Distributing pornographic material on this site or choosing a profile name or information that is pornographic in nature may result in your account being removed or suspended.
</p>

<p>
    IF modules maintain a source list and reward system that allows users to utilize the works of others in their own contributions while keeping track of merit. 
    All users own their own work. By using IF, you are authorizing IF and other users to utilize your work on the system (including selling as a product in the Infinity Forum marketplace) as long as they use the built in channels for maintaining credit. To use your work outside of the system (creating a derivative work for posting off-site, making a profit outside of the Infinity Forum Marketplace, etc., excluding standard sharing practices (fair use)), users must gain permission from all contributors, in which case they are able to use any passages (you authorize this usage by continuing to use this site). Infinity-Forum is considered a contributor to any projects with a source.
</p>

<p>
    If you wish to revoke the license you give others to sell your work or derivatives of it in the Infinity Forum Marketplace, you may delete the referenced passage (losing any points potentially gained from it), and submit a copyright/patent/trademark (IP) claim by emailing admin@infinity-forum.org. Products will only be taken down if you have an actual IP claim to the product, not simply if you were a contributor to it on Infinity Forum. When revoking a license to sell, the license is revoked when IF revokes it, not when the complaint is made. Posts utilizing your work but not selling it may not have their licenses revoked.
</p>

<p>
    If you have an IP claim to a work with no other Infinity Forum contributors, and wish you and any coowners to be the only seller(s), you may revoke the licenses to sell without deleting the post. Simply email admin@infinity-forum.org.
</p>

<p>By posting, uploading, or otherwise making available any content containing trademarks, logos, or other intellectual property ("User Content") on infinity-forum.org, you hereby grant to infinity-forum.org and other users of the Website a non-exclusive, royalty-free, worldwide, perpetual, irrevocable, and sublicensable license to use, reproduce, modify, adapt, publish, translate, create derivative works from, distribute, publicly perform, and publicly display such User Content solely on and through the Website for the purpose of operating and providing the Website's services. This license is limited to the functionality of the Website and does not grant any rights for use outside of the Website without the explicit permission of the intellectual property owner, except for uses to improve or fund the website (all funds go to paying users), as well as for marketing purposes.
   You represent and warrant that you own or have the necessary licenses, rights, consents, and permissions to publish User Content you submit; and the User Content and your use of the User Content does not and will not infringe, misappropriate or violate a third party's intellectual property rights, or rights of publicity or privacy, or any other applicable law or regulation."</p>

<p>
    Whenever possible, you agree to use the in-house citation system to attribute original sources. For sources not on the site, you agree to cite in the normal manner, using the passage bibliography or description text.
</p>

<p>
    Passages which users submit to the website infinity-forum.org are not reflective of our views or beliefs.
    Our goal is to find a proper place to categorize any information which is submitted such that it is maximally beneficial to our company goals
    of helping others.
</p>

<p>
    For users who choose to verify their identity, we store a hash of identity document details, as well as the user's first name, last name, and date of birth. We use the hash in order to identify duplicate accounts and prevent fraud. We use the other details to provide verified account badges (we compare to the public name). These details are not made public.

    We do not sell your information.
</p>

