<p>
    Christian Engineering Solutions (CES) is a Not For Profit Organization, formally a sole proprietorship,
    acting as a not-for-profit while seeking tax exempt status in California.
</p>

<p>These terms are subject to change.</p>

<p>
    CES utilizes an open-source algorithm in order to manage its budget and distribute rewards to users based on merit.
    These algorithms are subject to change; CES is not responsible for compensating users for any donations or activity on the website christianengineeringsolutions.com.
</p>

<p>
    CES modules maintain a source list and reward system that allows users to utilize the works of others in their own contributions while keeping track of merit.
    By using CES, you are authorizing CES and other users to utilize your work on the system so long as they use the built in channels for maintaining credit.
</p>

<p>
    Passages which users submit to the website christianengineeringsolutions.com are not reflective of our views or beliefs.
    Our goal is to find a proper place to categorize any information which is submitted such that it is maximally beneficial to our company goals
    of helping others. We encourage users to make this process easier by maintaining a focus on productivity, service, and Jesus Christ.
</p>

