<p>
    Infinity-Forum (IF) is a Not For Profit Organization, formally a sole proprietorship,
    acting as a not-for-profit while seeking tax exempt status in California. Employees are not compensated via operating costs,
    but like all users may be rewarded through the built-in reputation system. IF distributes all of its profits to its users based on reputation to stimulate productivity on the website.
    You must be at least 13 years of age to use this site.
</p>

<p>These terms are subject to change.</p>

<p>
    IF utilizes an open-source algorithm in order to manage its budget and distribute rewards to users based on merit.
    These algorithms are subject to change; IF is not responsible for compensating users for any donations/investments or activity on the website infinity-forum.org.
    IF is also not responsible for any lost work. IF reserves the right to remove or censor any content for any reason. Pornographic material is not allowed on the site. Distributing pornographic material on this site or choosing a profile name or information that is pornographic in nature may result in your account being removed or suspended.
</p>

<p>
    IF modules maintain a source list and reward system that allows users to utilize the works of others in their own contributions while keeping track of merit. 
    All users own their own work. By using IF, you are authorizing IF and other users to utilize your work on the system as long as they use the built in channels for maintaining credit. To use your work outside of the system, they must gain permission from all contributors and/or follow any additional license stated for the work, unless the purpose is not-for-profit or solely to add revenue to Infinity-Forum, in which case they are able to use any passages (you authorize this usage by continuing to use this site). The full list of contributors must be included with the work.
</p>

<p>
    Passages which users submit to the website infinity-forum.org are not reflective of our views or beliefs.
    Our goal is to find a proper place to categorize any information which is submitted such that it is maximally beneficial to our company goals
    of helping others.
</p>

